<div>
    <div class="container form-group">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Registro de Personas</h2>
                <div class="form-group">​
    
                    <label>Identificacion</label>​
    
                    <input type="text" [(ngModel)]="persona.cedula" name="identificacion" />
    
                    <button type="input" (click)="getPersona();"> BuscarPersona </button>​
                </div>
    
                <form>
                    <div class="form-group">​
    
                        <label>TipoDocumento</label>​
                        <input type="text" value="{{persona.tipoDocumento}}" name="tipoDocumento" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Nombre</label>​
                        <input type="text" value="{{persona.nombre}}" name="nombre" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Apellido</label>​
                        <input type="text" value="{{persona.apellido}}" name="apellido" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Edad</label>​
                        <input type="number" value="{{persona.edad}}" name="edad" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Fecha</label>​
                        <input type="date" value="{{persona.fechaNacimiento}}" name="fecha" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Institucion</label>​
                        <input type="text" value="{{persona.institucionEducativa}}" name="institucionEducativa" />​
                    </div>
    
                    <div class="form-group">​
    
                        <label>Acudiente</label>​
                        <input type="text" value="{{persona.nombreAcudiente}}" name="acudiente" />​
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>
