<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-6">
                <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Filtro Cedula">
            </div>​
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary mr-1" (click) = "Consultar()">Consultar</button>
    </div>
    <hr>
    
    <table class="table table-striped"  >​
    
        <thead class="thead-dark">​
    
            <tr>​
                <th scope="col">#</th>​
                <th>TipoVacuna</th>
                <th>FechaVacuna</th>
                <th>Edad Aplicacion</th>
            </tr>​
        </thead>
        ​
        <tbody>​
            <tr *ngFor="let vacuna of persona.vacunas ; index as i ">​
                <th scope="row">{{ i + 1 }}</th>​
                <td>{{vacuna.nombreVacuna}}</td>
                <td>{{vacuna.fechaVacuna}}</td>
                <td>{{vacuna.edadAplicacion}}</td>
            </tr>​
        </tbody>​
    </table>

</div>
