<div class="container">
    <h2>Registro de Personas</h2>
    <div class="form-group">​

        <label>Identificacion</label>​

        <input type="text" [(ngModel)]="persona.cedula" name="identificacion"/>
        
        <button type="input" (click)="getPersona();"> BuscarPersona </button>​
    </div>

    <div class="form-group">​

        <label>TipoDocumento</label>​
        <input type="text" value="{{persona.tipoDocumento}}" name="tipoDocumento"/>​
    </div>

    <div class="form-group">​

        <label>Nombre</label>​
        <input type="text" value="{{persona.nombre}}" name="nombre"/>​
    </div>

    <div class="form-group">​

        <label>Apellido</label>​
        <input type="text" value="{{persona.apellido}}" name="apellido"/>​
    </div>

    <div class="form-group">​

        <label>Edad</label>​
        <input type="text" value="{{persona.edad}}" name="edad"/>​
    </div>
</div>