<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-6">
                <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Filtro Cedula">
            </div>​
        </div>
    </div>
    <hr>
    
    <table class="table table-striped" *ngIf='personas && personas.length '>​
    
        <thead class="thead-dark">​
    
            <tr>​
                <th scope="col">#</th>​
                <th>identificación</th>
                <th>Tipo Documento </th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Insitucion Educativa</th>
                <th>Nombre Acudiante</th>
                <th>Fecha Nacimiento</th>
                <th>Ver</th>
            </tr>​
        </thead>
        ​
        <tbody>​
            <tr *ngFor="let persona of personas |filtroPersona:searchText; index as i ">​
                <th scope="row">{{ i + 1 }}</th>​
                <td>{{persona.cedula }}</td>
                <td>{{persona.tipoDocumento}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.institucionEducativa}}</td>
                <td>{{persona.nombreAcudiente}}</td>
                <td>{{persona.fechaNacimiento}}</td>
                <td> <button class="btn btn-primary mr-1" routerLink='/consultavacunas/{{persona.cedula}}'></button></td>
            </tr>​
        </tbody>​
    </table>

</div>