<div>
    <div class="modal-header">
        <div>
            <div class="container form-group">

                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2>Registro de Personas</h2>


                        <form [formGroup]="formGroup">
                            <div class="form-group">​

                                <label>Identificacion</label>​

                                <input type="text" value="{{id}}" disabled name="identificacion" />​
                            </div>
                            <div class="form-group">​

                                <label>TipoDocumento</label>
                                <select value="{{persona.tipoDocumento}}" name="tipoDocumento"
                                    [ngClass]="{'is-invalid': control.TipoDocumento.errors && control.TipoDocumento.touched}"
                                    formControlName="TipoDocumento">
                                    <option>RC</option>
                                    <option>TI</option>

                                </select>

                                <div *ngIf="control.TipoDocumento.errors" class="invalid-feedback">
                                    <div *ngIf="control.TipoDocumento.errors.required">Se requiere el TipoDocumento
                                    </div>
                                </div>​
                            </div>

                            <div class="form-group">​

                                <label>Nombre</label>​
                                <input type="text"
                                    [ngClass]="{'is-invalid': control.Nombre.errors && control.Nombre.touched}"
                                    formControlName="Nombre" value="{{persona.nombre}}" name="Nombre" />

                                <div *ngIf="control.Nombre.errors" class="invalid-feedback">
                                    <div *ngIf="control.Nombre.errors.required">Se requiere el nombre</div>
                                </div>​
                            </div>


                            <div class="form-group">​

                                <label>Apellido</label>​
                                <input type="text"
                                    [ngClass]="{'is-invalid': control.Apellido.errors && control.Apellido.touched}"
                                    formControlName="Apellido" value="{{persona.apellido}}" name="apellido" />

                                <div *ngIf="control.Apellido.errors" class="invalid-feedback">
                                    <div *ngIf="control.Apellido.errors.required">Se requiere el Apellido</div>
                                </div>​
                            </div>

                            <div class="form-group">​

                                <label>Fecha</label>​
                                <input type="date"
                                    [ngClass]="{'is-invalid': control.fechaNacimiento.errors && control.fechaNacimiento.touched}"
                                    formControlName="fechaNacimiento" value="{{persona.fechaNacimiento}}"
                                    name="fecha" />

                                <div *ngIf="control.fechaNacimiento.errors" class="invalid-feedback">
                                    <div *ngIf="control.fechaNacimiento.errors.required">Se requiere la fechaNacimiento
                                    </div>
                                </div>​
                            </div>

                            <div class="form-group">​

                                <label>Institucion</label>​
                                <input type="text"
                                    [ngClass]="{'is-invalid': control.InstitucionEducativa.errors && control.InstitucionEducativa.touched}"
                                    formControlName="InstitucionEducativa" value="{{persona.institucionEducativa}}"
                                    name="institucionEducativa" />

                                <div *ngIf="control.InstitucionEducativa.errors" class="invalid-feedback">
                                    <div *ngIf="control.InstitucionEducativa.errors.required">Se requiere la
                                        InstitucionEducativa</div>
                                </div>​
                            </div>

                            <div class="form-group">​

                                <label>Acudiente</label>​
                                <input type="text"
                                    [ngClass]="{'is-invalid': control.NombreAcudiente.errors && control.NombreAcudiente.touched}"
                                    formControlName="NombreAcudiente" value="{{persona.nombreAcudiente}}"
                                    name="acudiente" />

                                <div *ngIf="control.NombreAcudiente.errors" class="invalid-feedback">
                                    <div *ngIf="control.NombreAcudiente.errors.required">Se requiere el NombreAcudiente
                                    </div>
                                </div>​
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary mr-1" (click)="onSubmit()"
                                    [disabled]="formGroup.invalid">Register</button>
                                <button class="btn btn-secondary" type="reset">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</div>